node_modules/
src/
examples/
.git/
.github/
.gitignore
.nvmrc
.yarnrc
eslint.config.js
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
*.log
**/*.spec.ts
LICENSE
README.md
.vscode
*.code-workspace

