node_modules/
src/
examples/
.git/
.github/
.gitignore
.nvmrc
.yarnrc
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
jest.config.js
rollup.config.mjs
*.log
**/*.spec.ts
LICENSE
README.md
.vscode
*.code-workspace

