node_modules/
src/
examples/
.git/
.github/
.gitignore
.nvmrc
.yarnrc
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
tsconfig.json
jest.config.js
rollup.config.js
*.log
**/*.spec.ts
LICENCE
README.md
